<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1,user-scalable=no">

    <link rel="stylesheet" href="http://localhost/crudProdutosApi/Public/css/main.css">

    <title>Produtos</title>
</head>
<body>
    <div>
        <header>
            <nav>
                <h3>API |||</h3>
                <ul>
                    <li>Home</li>
                    <li>Contato</li>
                </ul>
            </nav>
        </header>
    </div>
    
    <div class="conteudo">
        <div class="group">
            <div class="card">
                <img src="http://localhost/crudProdutosApi/Public/imagens/img_avatar.png" alt="teste" style="width: 100%;">
                    <div class="container"> 
                        <h4>Nome</h4>
                        <p>Descrição do produto</p>
                    </div>
            </div>
        </div>

        <div class="group">
            <div class="card">
                <img src="http://localhost/crudProdutosApi/Public/imagens/img_avatar.png" alt="teste" style="width: 100%;">
                    <div class="container"> 
                        <h4>Nome</h4>
                        <p>Descrição do produto</p>
                    </div>
            </div>
        </div>
        
        <div class="group">
            <div class="card">
                <img src="http://localhost/crudProdutosApi/Public/imagens/img_avatar.png" alt="teste" style="width: 100%;">
                    <div class="container"> 
                        <h4>Nome</h4>
                        <p>Descrição do produto</p>
                    </div>
            </div>
        </div>

        <div class="group">
            <div class="card">
                <img src="http://localhost/crudProdutosApi/Public/imagens/img_avatar.png" alt="teste" style="width: 100%;">
                    <div class="container"> 
                        <h4>Nome</h4>
                        <p>Descrição do produto</p>
                    </div>
            </div>
        </div>

        <div class="group">
            <div class="card">
                <img src="http://localhost/crudProdutosApi/Public/imagens/img_avatar.png" alt="teste" style="width: 100%;">
                    <div class="container"> 
                        <h4>Nome</h4>
                        <p>Descrição do produto</p>
                    </div>
            </div>
        </div>

        <div class="group">
            <div class="card">
                <img src="http://localhost/crudProdutosApi/Public/imagens/img_avatar.png" alt="teste" style="width: 100%;">
                    <div class="container"> 
                        <h4>Nome</h4>
                        <p>Descrição do produto</p>
                    </div>
            </div>
        </div>

        <div class="group">
            <div class="card">
                <img src="http://localhost/crudProdutosApi/Public/imagens/img_avatar.png" alt="teste" style="width: 100%;">
                    <div class="container"> 
                        <h4>Nome</h4>
                        <p>Descrição do produto</p>
                    </div>
            </div>
        </div>
    </div>
   
    <footer>
        <div class="rodape">
            <div class="conteudo-rodape">
                <p><a href="https://www.linkedin.com/in/fabr%C3%ADcio-dourado-vieira-8a3207190/" target="blanck"> Desenvolvido @Fabricio </a></p>
            </div>   
        </div>
    </footer>

</body>
</html>
